/* Shear style */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", system-ui;
}


/* Nav Related style */
header{
    padding:87px 100px;
    width: 1440px;
    height: 665px;
    background: #FFF;
}
header nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}
header nav ul{
    display: flex;
   
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 100px;

}
nav li a{
    text-decoration: none;
    color:#3A3A3A;
}


/* Header related style */
.Header main{
}

.Header{
    display: flex;
    justify-content: space-between;
}
.header-title{
color: #3A3A3A;
font-family: Poppins;
font-size: 52px;
font-style: normal;
font-weight: 700;
line-height: 70px; /* 134.615% */

}
.header-discription{

color: #3A3A3A;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.header-backround-img{
    /* background-image: url(../images/Circle\ design.svg); */
    position: relative;
    right: 5px;
    top: 20px;
}
.backround-img{
    background-image: url(../images/Circle\ design.svg);

}

/* marketplace related */

.marketplace-img{
    margin-top: 60px;
    margin-left: 10%;
   
}
.box{
    width: 100px;
    height: 109px;
    padding-top: 4%;
    
}


.list-item-img{
    width: 70%;
    height: 109px;
    display: flex;
    list-style: none;
    text-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;

   
}


/* Product related style */
main{
width: 1140px;
height: 2200px;
margin-left: 196px;
}
.product-header-title{
 color: #3A3A3A;
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 70px; /* 250% */
text-align: center;
margin: 50px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    
}
.product{
    border: 2px solid #3A3A3A;
    border-radius: 10px;
    width: 329px;
    height: 476px;
    padding-top: 10px;
    margin: 20px;
    
}

.product img{
    width: 90%%;
    
}
.button{
    text-align: right;
    
}
.button-position{
    position: relative;
    left: 880px;
    top: 20px;
}


/* Feature related style */

.container-feature{
    display: flex;
    width: 1440px;
    height: 270px;
    
}
.text{
    padding-left: 96px;
}

.feature-titel{
 color: #0A0826;
font-family: Poppins;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 157.895% */
}

.feature-discription{
color: #6C6C6C;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 175% */
}


/* footer relatad style */

footer{
    width: 100%;
    height: 239px;
    background-color: #0A0826;
    padding-top: 20px;
}


.footer-container{
    text-align: center;
}
.footer-titel{
color: #FFF;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.footer-discription{
color: var(--Text-Gray-300, #D9DBE1);
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 171.429% */

}
.footer-icon{
    display: flex;
}